*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.app-layout {
    display: flex;
    /* height: 100vh; */
    background-color: #f9f9f9;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 250px;
    background-color: #def2fc; /* Dark blue-gray */
    color: white;
    border-top-left-radius: 4rem;
     border-bottom-left-radius: 4rem;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  }
  
  /* Main content area */
  .main-content {
    flex-grow: 1;
    /* padding: 20px; */
    /* height: 100% */
  }



@import url(./styles/Sidebar.css);
@import url(./styles/MainBody.css);
@import url(./styles/ActivityChart.css);

@import url(./styles/Appointments.css);
@import url(./styles/UpcomingSchedule.css);
@import url(./styles/HealthcareDashboard.css);
@import url(./styles/CalendarWithTime.css);
@import url(./styles/ProfileActions.css);


/* ====================
   Responsive Layout
==================== */



